@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Work+Sans:wght@500&display=swap');

:root{
    font-family: 'Karla', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

::placeholder{
    font-family: 'Karla', sans-serif;
    color:#CDCDCD;
}

body{
    background:linear-gradient(45deg, #4CA6BE,#100F60);
    height: 100vh;
    margin: 0;
}

nav {
    padding: 2.5rem 0 0 0;

}
header nav .logo{
    font-family: 'Work Sans', sans-serif;
    color: white;
    font-size: 2.5rem;
    margin: 0 0 2.5rem 0;
    text-align: center;
}
main .select-container .select-todoitem {
    font-size: 2.5rem;
    margin: 15px 10px 15px 4.5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 30px;
}



main .container .todoitem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

main .container .selectitem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
}


main .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 30px;
    
}


main .container .todoitem .button {
    /* padding: 10px 20px 10px 20px; */
    color: white;
    background: black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 25px;
    font-weight: 800;
    border: none;
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .container .selectitem .selectbutton {
    padding: 10px 17px 10px 17px;
    color: white;
    background: black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .container .todoitem input {
    padding: 0px 10px 0px 10px;
    background: #6B89AE;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
    width: 75%;
    color:white;
    font-family: 'Karla', sans-serif;
}

main .container .selectitem input {
    background: #6B89AE;
    padding: 0px 10px 0px 10px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: none;
    width: 50%;
    color:white;
    font-family: 'Karla', sans-serif;
}



main .select-container .select-todoitem input {
    padding: 0px 10px 0px 10px;
    background: #6B89AE;
    border: none;
    outline: none;
    width: 100%;
    color:white;
    font-family: 'Karla', sans-serif;
}



main .select-container .select-todoitem .third-button {
    /* padding: 10px 20px 10px 20px; */
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

main .select-container .select-todoitem .fourth-button{
        /* padding: 10px 20px 10px 20px; */
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

.third-button, .fourth-button {
    font-size: 25px;
        font-weight: 800;
        border: none;
        width: 40px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background: black;
}

@media all and (max-width: 600px) {
     
        main  .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap:14px;
            height: 89px;
            margin-left: 5px;
            margin-right: 10px;
        
}

main .container .selectitem, main .container .todoitem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 30px;
}

main .container .todoitem input {
    padding: 0px 10px 0px 10px;
    background: #6B89AE;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
    width: 100%;
    color:white;
    font-family: 'Karla', sans-serif;
}

main .container .selectitem input {
    background: #6B89AE;
    padding: 0px 10px 0px 10px;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: none;
    width: 100%;
    color:white;
    font-family: 'Karla', sans-serif;
}
main .container .todoitem .button {
    padding: 0px 10px 0px 10px;
    color: white;
    background: black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 25px;
    font-weight: 800;
    border: none;
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .container .selectitem .selectbutton {
    padding: 0px 10px 0px 10px;
    color: white;
    background: black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
}